.bandp-step-container {
    .box {
        text-align: center;
        position: relative;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;

        .image {
            margin-bottom: 20px;
        }
    }

    .top-row {
        justify-content: space-between;
        margin-bottom: 74px;

        .icon {
            position: absolute;
            right: 0;
            bottom: 50px;
            right: -130px;
        }

        .box {
            &.box-3 {
                .icon {
                    bottom: -268px;
                    right: 58px;
                }
            }
        }
    }

    .bottom-row {
        .box {

            .information {
                text-align: justify;
            }

            &.box-5 {
                margin-left: 206px;

                .icon {
                    position: absolute;
                    bottom: 50px;
                    left: -160px;
                }
            }
        }
    }
}

.video-button-container {
    &.layout-1 {
        text-align: center;
    }
}

.bandp-team-container {
    .slick-slide {
        margin-left:90px;
      }
    
      /* the parent */
      .slick-list {
        margin-left:-90px;
      }
    .bandp-team {
        .avatar {
            text-align: center;
            margin-bottom: 23px;

            img {
                display: inline-block;
            }
        }

        h3 {
            text-align: center;
            position: relative;
            font-size: 25px;
            font-weight: 400;
            margin-bottom: 18px;
            
            .text {
                position: relative;
                display: inline-block;
                background: #fff;
                padding: 0 75px;
            }

            &::before {
                content: '';
                background-color: @primary-color;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                height: 1px;
                transform: translateY(-50%);
            }
        }

        .job-info {
            font-size: 20px;
            line-height: 24px;
            text-align: justify;
        }
    }
}