.band-blog-list {
    .list-posts {
        .post-info {
            font-size: 18px;
            line-height: 22px;

            .image {
                border-bottom: 1px solid @primary-color;
                padding-bottom: 22px;
                margin-bottom: 21px;
            }

            h2 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 21px;

                a {
                    color: @text-color;
                }
            }
        }

        .left-side {
            .post-info {
                padding-right: 118px;
            }
        }

        .right-side { 
            .post-info {
                text-align: center;

                &+ .post-info {
                    margin-top: 59px;
                }
            }
        }
    }
}

.bandp-testimonial-container {
    .bandp-testimonial {
        padding: 30px;

        .inner-box {
            border: 3px solid #081734;
            color: @white;
            text-align: center;
            font-size: 20px;
            line-height: 24px;
            padding: 50px 53px 32px 53px;
            background-color: rgba(255,255,255,.1);
            max-width: 840px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
    
            .quote {
                position: absolute;

                &.left-icon {
                    left: -30px;
                    top: -25px;
                }

                &.right-icon {
                    right: -30px;
                    bottom: -25px;
                }
            }

            .job-info {
                margin-bottom: 32px;
            }

            h3 {
                color: @white;
                font-weight: 500;
            }
        }
    }

    .slick-dots {
        margin-top: 266px;
    }
}
.bandp-step-container {
    .box {
        text-align: center;
        position: relative;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;

        .image {
            margin-bottom: 20px;
        }
    }

    .top-row {
        justify-content: space-between;
        margin-bottom: 74px;

        .icon {
            position: absolute;
            right: 0;
            bottom: 50px;
            right: -130px;
        }

        .box {
            &.box-3 {
                .icon {
                    bottom: -268px;
                    right: 22px;
                }
            }
        }
    }

    .bottom-row {
        .box {
            max-width: 405px;

            .information {
                text-align: justify;
            }

            &.box-5 {
                margin-left: 206px;

                .icon {
                    position: absolute;
                    bottom: 50px;
                    left: -181px;
                }
            }
        }
    }
}

.video-button-container {
    &.layout-1 {
        text-align: center;
    }
}

.bandp-team-container {
    .slick-slide {
        margin-left:90px;
      }
    
      /* the parent */
      .slick-list {
        margin-left:-90px;
      }
    .bandp-team {
        .avatar {
            text-align: center;
            margin-bottom: 23px;

            img {
                display: inline-block;
            }
        }

        h3 {
            text-align: center;
            position: relative;
            font-size: 25px;
            font-weight: 400;
            margin-bottom: 18px;
            
            .text {
                position: relative;
                display: inline-block;
                background: #fff;
                padding: 0 75px;
            }

            &::before {
                content: '';
                background-color: @primary-color;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                height: 1px;
                transform: translateY(-50%);
            }
        }

        .job-info {
            font-size: 20px;
            line-height: 24px;
            text-align: justify;
        }
    }

    &.layout-2 {
        .slick-slide {
            margin-left:0;
        }

        /* the parent */
        .slick-list {
            margin-left:0;
        }
        .bandp-team {
            padding-bottom: 10px;
            padding-top: 45px;
            border-bottom: 1px solid #93C96F;
        }
        .avatar {
            max-width: 175px;
            float: left;
            margin-top: 10px;
            margin-bottom: 15px;
            p {
                font-size: 25px;
                font-family: "Barlow", Sans-serif;
                color: #081734;
            }
        }
        .job-info, .content-bottom {
            p {
                font-size: 20px;
                font-family: "Barlow", Sans-serif;
                color: #081734;
            }
        }
        .content-bottom {
            clear: both;
            max-width: 1400px;
            text-align: justify;
            padding-bottom: 20px;
            p {
                line-height: 1.2em;
            }
        }
        .job-info {
            max-width: 1220px;
            float: left;
            padding-left: 20px;
            p {
                line-height: 1.2em;
            }
        }
    }
}

.band-slider {
    &.layout-1 {
        .avatar {
            img {
                max-width: 442px;
                max-height: 247px;
                margin-right: 5px;
            }
        }
        .prev, .next {
            color: #93c96f;
            font-size: 40px;
            font-family: "Barlow", Sans-serif;
            width: 55px;
            height: 55px;
            border: 1px solid #93c96f;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;

            &:hover {
                cursor: pointer;
            }
        }
        .prev {
            position: absolute;
            bottom: -103px;
            left: -64px;
            right: 0;
            margin: 0 auto;
        }
        .next {
            position: absolute;
            bottom: -103px;
            left: 0;
            right: -64px;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 577px) {
    &.layout-2 {
        .bandp-team {
            width: 100% !important;
        }
    }
}

@media only screen and (max-width: 576px) {
    .video-button-container {
        &.layout-1 {
            img {
                width: 30px;
            }
        }
    }
    .band-slider {
        &.layout-1 {
            .avatar {
                img {
                    max-width: 100%;
                    margin-right: 0;
                }
            }
            .prev, .next {
                bottom: -93px;
            }
        }
    }
    .bandp-team-container {
        &.layout-2 {
            .bandp-team {
                border-bottom: none;
            }
            .inner-box {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .job-info {
                padding-left: 0;
                p {
                    font-size: 14px;
                    text-align: center;
                }
            }
            .content-bottom {
                p {
                    font-size: 14px;
                    text-align: center;
                }
            }
            .avatar {
                max-width: unset;
                float: unset;
                .text {
                    margin-top: 30px;
                    span {
                        position: relative;
                        display: inline-block;
                        background: #fff;
                        padding: 0 75px;
                        &:before {
                            content: '';
                            background-color: #93c96f;
                            position: absolute;
                            left: -60px;
                            top: 19px;
                            height: 1px;
                            transform: translateY(-50%);
                            width: 100px;
                        }
                        &:after {
                            content: '';
                            background-color: #93c96f;
                            position: absolute;
                            right: -60px;
                            top: 19px;
                            height: 1px;
                            transform: translateY(-50%);
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 577px) and (max-width: 1433px) {
    .bandp-team-container {
        &.layout-2 {
            .avatar {
                width: 20%;
            }
            .job-info {
                width: 80%;
            }
        }
    }
}