.bandp-step-container {
    .box {
        text-align: center;
        position: relative;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;

        .image {
            margin-bottom: 20px;
        }
    }

    .top-row {
        justify-content: space-between;
        margin-bottom: 74px;

        .icon {
            position: absolute;
            right: 0;
            bottom: 50px;
            right: -130px;
        }

        .box {
            &.box-3 {
                .icon {
                    bottom: -268px;
                    right: 58px;
                }
            }
        }
    }

    .bottom-row {
        .box {

            .information {
                text-align: justify;
            }

            &.box-5 {
                margin-left: 206px;

                .icon {
                    position: absolute;
                    bottom: 50px;
                    left: -160px;
                }
            }
        }
    }
}

.video-button-container {
    &.layout-1 {
        text-align: center;
    }
}

.bandp-team-container {
    .slick-slide {
        margin-left:90px;
      }
    
      /* the parent */
      .slick-list {
        margin-left:-90px;
      }
    .bandp-team {
        .avatar {
            text-align: center;
            margin-bottom: 23px;

            img {
                display: inline-block;
            }
        }

        h3 {
            text-align: center;
            position: relative;
            font-size: 25px;
            font-weight: 400;
            margin-bottom: 18px;
            
            .text {
                position: relative;
                display: inline-block;
                background: #fff;
                padding: 0 75px;
            }

            &::before {
                content: '';
                background-color: @primary-color;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                height: 1px;
                transform: translateY(-50%);
            }
        }

        .job-info {
            font-size: 20px;
            line-height: 24px;
            text-align: justify;
        }
    }
}

.band-slider {
    &.layout-1 {
        .avatar {
            img {
                max-width: 442px;
                max-height: 247px;
                margin-right: 5px;
            }
        }
        .prev, .next {
            color: #93c96f;
            font-size: 40px;
            font-family: "Barlow", Sans-serif;
            width: 55px;
            height: 55px;
            border: 1px solid #93c96f;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;

            &:hover {
                cursor: pointer;
            }
        }
        .prev {
            position: absolute;
            bottom: -103px;
            left: -64px;
            right: 0;
            margin: 0 auto;
        }
        .next {
            position: absolute;
            bottom: -103px;
            left: 0;
            right: -64px;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 576px) {
    .video-button-container {
        &.layout-1 {
            img {
                width: 30px;
            }
        }
    }
    .band-slider {
        &.layout-1 {
            .avatar {
                img {
                    max-width: 100%;
                    margin-right: 0;
                }
            }
            .prev, .next {
                bottom: -93px;
            }
        }
    }
}