.site-header {
    background-color: #081734;
    padding-top: 35px;
    padding-bottom: 31px;

    .list-socials {
        .social + .social {
            margin-left: 12px;
        }

        &.list-socials-mobile {
            background-color: @primary-color;
            border-top: 1px solid #d1d2d2;

            .social + .social {
                margin-left: 0;
                border-left: 1px solid #d1d2d2;
            }

            .social {
                flex-basis: 33.3333%;
                max-width: 33.333333%;
                text-align: center;
                padding: 10px 0;
            }
        }
    }

    .navbar {
        padding: 0;
        margin-left: 94px;

        .nav-menu {
            li {
                a {
                    color: @white;
                    font-size: 22px;
                    text-decoration: none;

                    &:hover {
                        color: @primary-color;
                    }
                }

                &+ li {
                    margin-left: 45px;
                }
            }
        }
    }

    .toggle-menu {
        cursor: pointer;
        display: none;
    }

    .left-content {
        &.show-nav {
            .toggle-menu {
                visibility: hidden;
            }
        }
    }
}

@media(max-width: 1250px) {
    .site-header {
        .left-content {
            flex-basis: 100%;
            max-width: 100%;
            justify-content: space-between;
        }
    
        .right-content {
            display: none !important;
        }

        .navbar {
            margin-left: 30px;
        }
    }
}

@media(max-width: 1100px) {
    .site-header {
        .navbar {
            .nav-menu {
                li {
                    a {
                        font-size: 18px;
                    }
                    &+ li {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

@media(max-width: 991px) {
    .site-header {
        position: relative;

        .left-content {
            position: static !important;
            display: block !important;
            text-align: center;

            .toggle-menu {
                position: absolute;
                left: 40px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .navbar {
            background-color: rgba(8, 23, 52, .8);
            z-index: 9999;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin-left: 0;
            text-align: left;
            display: none;

            .close-nav {
                position: absolute;
                top: 30px;
                left: 40px;
            }

            .nav-menu {
                display: block !important;
                padding-top: 54px;
                padding-bottom: 68px;
                text-align: center;
                width: 100%;

                li {
                    padding: 13px 15px;
                    display: block;
                    font-size: 25px;
                    
                    a {
                        color: @white;
                        font-size: 25px;

                        &:hover {
                            color: @white;
                        }
                    }

                    &+ li {
                        margin-left: 0;
                    }
                }
            }
        }

        .toggle-menu {
            display: inline-block;
        }
    }
}

@media(max-width: 400px) {
    .site-header {
        .left-content {
            .toggle-menu {
                left: 15px;
            }
        }
        .navbar {
            .close-nav {
                top: 30px;
                left: 15px;
            }
        }
    }
}

@media(min-width: 1250px) and (max-width: 1400px) {
    .site-header {
        .left-content {
            justify-content: space-between;
        }
        .navbar {
            margin-left: 41px;

            .nav-menu {
                li {
                    &+ li {
                        margin-left: 31px;
                    }
                }
            }
        }
    }
}