.site-header {
    background-color: #081734;
    padding-top: 35px;
    padding-bottom: 31px;

    .list-socials {
        .social + .social {
            margin-left: 12px;
        }
    }
    .navbar {
        padding: 0;
        margin-left: 94px;

        .nav-menu {
            li {
                a {
                    color: @white;
                    font-size: 22px;
                    text-decoration: none;

                    &:hover {
                        color: @primary-color;
                    }
                }

                &+ li {
                    margin-left: 45px;
                }
            }
        }
    }
}