/* Colors
----------------------------------------------------------*/
@white: #fff;
@text-color: #081734;
@primary-color: #93c96f;
@border-color: #93c96f;
/* Typography
----------------------------------------------------------*/

@font-size: 16px;
@font-size-small: 12px;

@font-size-h1: 72px;
@font-size-h2: 36px;
@font-size-h3: 20px;
@font-size-h4: 16px;
@font-size-h5: 14px;
@font-size-h6: 12px;

@font-barlow: 'Barlow', sans-serif;

